<div class="site">
    <h1>{{ currentUsername.endsWith("s") ? currentUsername + "'" : currentUsername + "'s" }} Friends</h1>
    <a class="good-a" [routerLink]="['/logout']">&lt; Logout</a> | <a class="good-a"
        [routerLink]="['/settings']">Settings</a>
    <hr>
    <div class="round-border" *ngIf="friends.length > 0">
        <ul id="friend-list" *ngFor="let friend of friends; let i = index;">
            <a [routerLink]="['/chat']" class="friend-list-name">
                <li>{{ friend.username }}</li>
                <div class="unread-message">{{ friend.unreadMessages }}</div>
            </a>
        </ul>
    </div>
    <div class="round-border" *ngIf="friends.length === 0">
        <p class="text-center">You don't have friends (yet). :(</p>
    </div>
    <hr>
    <h2>New Requests</h2>
    <div *ngIf="requestedFriends.length === 0">
        No friend requests.
    </div>
    <div *ngIf="requestedFriends.length > 0">
        <ol>
            <li><a class="good-a" [routerLink]="['/chat']">Friend request from <span
                        class="name-friend">Track</span></a></li>
        </ol>
    </div>
    <hr>
    <form action="friends.html" id="submitFormAddFriend" method="get" onsubmit="return checkUserExist(this)"
        autocomplete="off">
        <div class="flexbox">
            <div class="responsive">
                <div id="add-friends">
                    <input class="wide-text" [(ngModel)]="friendInput" id="input-friends" (click)="loadUsers()" type="text"
                        placeholder="Add Friend to list" list="users">
                </div>
            </div>
            <div class="normal">
                <a href="#">
                    <button class="btn-wide-grey" type="submit">Add</button>
                </a>
            </div>
        </div>
    </form>
</div>