* {
    text-align: center;
    margin: auto;
    max-width: 900px;
}

body {
    background-color: #FAFAFA;
}

fieldset {
    background-color: white;
    border: 1px dotted grey;
}

table td {
    width: 50%;
    text-align: end;
}

hr {
    border: 1px dotted grey;
}

.btn-grey {
    background-color: #a9a9a9;
    color: white;
    border: 0px;
    border-radius: 0%;
    padding: 5px 10px 5px 10px;
}

.btn-blue {
    background-color: blue;
    color: white;
    border: 0px;
    border-radius: 0%;
    padding: 5px 10px 5px 10px;
}

.btn-wide-grey {
    background-color: #a9a9a9;
    color: white;
    border: 0px;
    border-radius: 0%;
    width: 150px;
    padding: 7px 0px 7px 0px;
}

input .wide-text {

}

select {
    width: 100%;
}