* {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    max-width: 900px;
}

body {
    background-color: #FAFAFA;
}

fieldset {
    background-color: white;
    border: 1px dotted grey;
    margin: 7px;
}

table td {
    width: 50%;
    text-align: end;
}
img{
width: 100px;
height: 100px;
border-radius: 50%;
}


hr {
    border: 1px dotted grey;
}

.btn-grey {
    background-color: #a9a9a9;
    color: white;
    border: 0px;
    border-radius: 0%;
    padding: 5px 10px 5px 10px;
}

.btn-blue {
    background-color: blue;
    color: white;
    border: 0px;
    border-radius: 0%;
    padding: 5px 10px 5px 10px;
}

.btn-wide-grey {
    background-color: #a9a9a9;
    color: white;
    border: 0px;
    border-radius: 0%;
    width: 150px;
    padding: 7px 0px 7px 0px;
}

.item-center {
    text-align: center;
    left: 50%;
}

input .wide-text {

}

select {
    width: 100%;
}