.values {
    padding-left: 40px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

#description {
    padding-left: 10px;
    white-space: pre-wrap;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}