* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #FAFAFA;
}

fieldset {
    background-color: white;
    border: 1px dotted grey;
    margin: 7px;
}

table {
    width: 100%;
}

td {
    width: 50%;
}

tbody tr td:first-child {
    text-align: right;
    padding-right: 10px;
}

.img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

hr {
    border: 1px dotted grey;
}

select {
    width: 150px;
}

h1 {
    color: black;
    font-size: 40px;
}

#text-comment {
    max-width: 852px;
    width: 852px;
    height: 150px;
}

#chatbox {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    max-height: 500px;
    overflow: scroll;
}

#friend-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#add-friends {
    display: inline-block;
    position: relative;
    width: 100%;
}

#sug-friends {
    list-style-type: none;
    display: inline;
}

#sug-friends-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

#description {
    padding-left: 10px;
    white-space: pre-wrap;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.sug-friends-items div {
    padding: 10px;
    cursor: pointer;
    background-color: white;
}

.sug-friends-items div:hover {
    background-color: lightgrey;
}

.friend-list-name {
    height: 40px;
    padding-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.friend-list-name:hover {
    background-color: lightgrey;
}

.friend-list-name div {
    margin-left: auto;
    margin-right: 10px;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 2px;
    min-width: 18px;
}

p.message {
    margin: 8px 0px 8px 0px;
}

p.chat-time {
    color: lightgrey;
    margin: 8px 0px 8px 0px;
    vertical-align: middle;
}

.btn-grey {
    background-color: #a9a9a9;
    color: white;
    border: 0px;
    border-radius: 0%;
    padding: 5px 10px 5px 10px;
}

.btn-blue {
    background-color: blue;
    color: white;
    border: 0px;
    border-radius: 0%;
    padding: 5px 10px 5px 10px;
}

.btn-wide-grey {
    background-color: #a9a9a9;
    color: white;
    border: 0px;
    border-radius: 0%;
    width: 150px;
    height: 32px;
    padding: 7px 0px 7px 0px;
}

.btn-request{
    background-color: #a9a9a9;
    color: white;
    border: 0px;
    border-radius: 0%;
    width: 70px;
    height: 32px;
    padding: 7px 0px 7px 0px;
    margin-top: 5px;
    margin-left: 5px;
}

.btn-wide-grey:hover,
.btn-blue:hover,
.btn-grey:hover,
.btn-request:hover{
    cursor: pointer;
    background-color: #cfcfcf;
}

.item-center {
    text-align: center;
    left: 50%;
}

.error-message {
    color: red;
    text-align: center;
}

.flexbox {
    display: flex;
    width: 100%;
}

.flexbox .responsive {
    flex: 1;
}

.flexbox .normal {
    flex: 0;
    padding-left: 20px;
}

.site {
    left: 50%;
    max-width: 900px;
    margin: auto;
}

.wide-text {
    width: 100%;
    padding: 6px;
    float: left;
}

.round-border {
    border: 1px lightgrey solid;
    border-radius: 7px;
    background-color: white;
}

.good-a {
    color: blue;
}

.good-a:link {
    text-decoration: none;

}

.good-a:visited {
    text-decoration: none;
}

.good-a:hover {
    text-decoration: underline;
}

.good-a:active {
    text-decoration: underline;
}

.bad-a {
    color: red;
}

.bad-a:link {
    text-decoration: none;

}

.bad-a:visited {
    text-decoration: none;
}

.bad-a:hover {
    text-decoration: underline;
}

.bad-a:active {
    text-decoration: underline;
}

.img-profile-div {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}

.img-profile-div img {
    width: 200px;
}

.textbox-div {
    float: left;
    background-color: white;
    width: 500px;
    height: 220px;
    border: 1px solid gray;
    padding-left: 10px;
    overflow: auto;
}

.name-friend {
    font-weight: bold;
}

.border-green {
    border: 2px green solid;
}

.border-red {
    border: 2px red solid;
}

.values {
    padding-left: 40px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}


@media (max-width: 500px) {
    .btn-blue {
        width: 100%;
        margin-top: 5px;
    }

    .btn-grey, .textbox-div, .img-profile-div {
        width: 100%;
    }

    .btn-wide-grey {
        width: 75px;
    }

    .img-profile-div img {
        width: 200px;
        display: flex;
        margin: auto;
    }

    #text-comment {
        width: 100%;
    }

    #chatbox {
        max-height: 350px;
    }
}